FUSIONAUTH_ISSUER="<APP ISSUER FROM FUSIONAUTH>" # example: my-website.com
FUSIONAUTH_CLIENT_ID="<APP CLIENT ID FROM FUSIONAUTH>"
FUSIONAUTH_CLIENT_SECRET="<APP CLIENT SECRET FROM FUSIONAUTH>"
FUSIONAUTH_TENANT_ID="<TENANT ID>" # Leave blank if you only have the default tenant
FUSIONAUTH_URL="<ENTIRE FUSIONAUTH URL>" # example: http://localhost:9011
NEXTAUTH_SECRET="<A SECRET>" # you can run `openssl rand -base64 32`

# Go to your Supabase account, access "Project Settings" and click "API"
NEXT_PUBLIC_SUPABASE_URL="<Project URL>"
NEXT_PUBLIC_SUPABASE_ANON_KEY="<anon public key from Project API keys>"
SUPABASE_SIGNING_SECRET="<JWT Secret from JWT Settings>"
